.div-ListItens {
  display: flex;
  gap: 15px;

  width: 100%;

  overflow-x: scroll;
}
.div-ListItens-webkit-scrollbar {
  display: none;
}

@media (min-width: 800px) {
  .div-ListItens {
    flex-wrap: wrap;
    gap: 20px;
    width: 58vw;
    min-width: 520px;
    max-width: 928px;

    overflow: hidden;
  }
}
